.navbar-brand{
    font-size: 26px;
    padding: 0px;
    font-family: "Chewy", system-ui;
    font-weight: 400;
    font-style: normal;
}

.recipe-img-mea {
    max-height: 450px;
    width: 100%;
    object-fit: cover;
}

/* Main slider : image entière visible */
#main-slider .splide__slide {
    display: flex;
    justify-content: center;
    align-items: center;
}
#main-slider .splide__slide a {
    height: 100%;
}
#main-slider img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}
/* Thumbnails */
#thumbnail-slider .splide__slide {
    aspect-ratio: 1 / 1;   /* carré parfait */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;      /* on cache ce qui dépasse */
}
#thumbnail-slider img {
    width: 100%;
    height: 100%;
    object-fit: cover;     /* remplir le carré sans déformation */
}
.splide__track--nav>.splide__list>.splide__slide.is-active {
    border-radius: var(--bs-border-radius) !important;
}

.all-recipes .card-img-top {
    height: 250px;
    width:auto;
    object-fit: cover;
    display: block;      /* nécessaire pour margin auto */
    margin: 0 auto;
}

.ls-recipe:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
}

.ls-recipe .fa-star {
    color: var(--bs-yellow);
}

.ribbon {
    bottom : 15px;
    right: 0px;
    border-radius: var(--bs-border-radius) 0px 0px var(--bs-border-radius);
    z-index: 2;
}
.ribbon:before, .ribbon:after{
    position:absolute;
    content: '';
    display: block;
    z-index: 2;
}

.ribbon:before{
    width: 0.5em;
    height: 2.05em;
    padding: 0 0 0.5em;
    top:0;
    right: -0.5em;
    background: gold;
    border-radius: 0 0 0.5em 0;
}
.ribbon.text-bg-primary::before {
    background: var(--bs-primary)
}
.ribbon.text-bg-danger::before {
    background: var(--bs-danger)
}

.ribbon:after{
    width: 0.4em;
    height: 0.4em;
    background: rgba(0,0,0,0.5);
    bottom: -0.4em;
    right: -0.4em;
    border-radius: 0 0 0.4em 0 ;
    box-shadow: inset -1px 2px 2px rgba(0,0,0,0.3);
}